.cartmodal {
    width: 90%;
    height: 90%;
    display: flex;
    overflow: hidden;

    &__container {
        backdrop-filter: blur(30px);
        opacity: 0.98;
        background: url('../assets/main/cart.png');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: 5;
        width: 100vw;
        height: 100vh;
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: visible;
        transition: all 0.5s ease-in-out;
        &--hidden {
            visibility: hidden;
            opacity: 0;
        }
    }

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;

    &__products {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__left {
        font-family: 'Crimson Pro', serif;
        flex: 1;
        height: 100%;
        float: left;
    }

    &__right {
        font-family: 'Crimson Pro', serif;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 0.5;
        height: 100%;
        float: right;
    }

    &__total {
        font-size: 80px;
        @media screen and (max-width: 800px) {
            font-size: 50px;
        }
    }

    &__checkout {
        border: none;
        display: block;
        bottom: 10px;
        border-radius: 100px;
        padding: 20px 30px 20px 30px;
        background-color: $green;
        font-size: 20px;
        font-weight: bolder;
        margin: 0px auto;
        &:hover {
            cursor: pointer;
        }
    }
}

.lineitem {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    filter: drop-shadow(0px 2px 20px #a3a3a3);

    &__content {
        width: 40%;
        float: right;
    }

    &__price {
        float: right;
    }

    &__title {
        float: left;
    }

    &__variant-title {
        float: left;
        margin-left: 20px;
        font-style: italic;
    }
}
