.homepage {
	height: 200vh;
	width: 100vw;
	background: no-repeat fixed url('../assets/main/bg.png');

	.trunk {
		height: 100%;
		background: repeat-y center/80% url('../assets/main/kmen.png');
	}

	.product-select {
	}
}
