.homepage {
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    background: no-repeat fixed url('../assets/main/bg.png');

    .trunk {
        height: 100%;
        background: repeat-y center url('../assets/main/kmen.png');
        width: 100%;
        background-size: 100% 100%;
        margin: 0 auto;
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        padding-top: 40vh;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .product-select {
    }

    .product-small {
        width: 33%;

        @media screen and (max-width: $phone) {
            width: 50%;
        }

        &__image {
            display: block;
            width: 60%;
            height: 100%;
            margin: 0 auto;
            z-index: 1;
            position: relative;
        }
        position: relative;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            z-index: 4;
            width: 100%;
            height: 100%;
            background-image: url('../assets/homepage/foto1.png');
            background-size: cover;
            background-position-y: top;
            background-repeat: no-repeat;
            border: 1px solid red;
        }
    }
}
