.homepage {
    height: 100vh;
    overflow-y: scroll;
    width: 100vw;
    background: no-repeat fixed url('../assets/main/bg.png');

    &__link {
        background: no-repeat url('../assets/nav/domu.png');
        top: 19.5vw;
        left: 4.5vw;
        height: 10vw;
        width: 10vw;
        background-size: contain;
        position: absolute;
        z-index: 21;
        &:hover {
            cursor: pointer;
        }
    }

    .trunk {
        height: 300vh;
        &__empty {
            font: {
                family: 'Crimson Pro', serif;
                size: 50px;
            }
            color: white;
        }
        $width_phone: 150px;
        $width: 200px;
        background: repeat-y center url('../assets/main/kmen.png');
        width: 100%;
        background-size: 100%;

        @media screen and (max-width: $phone) {
            height: 450vh;
        }

        &__products {
            height: 100vh;
            width: 70%;
            margin: 0 auto;
            display: flex;
            align-items: flex-start;
            flex-direction: row;
            padding-top: 40vh;
            padding-bottom: 20vh;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
    }

    .product-select {
        z-index: 20;
    }

    .product-small {
        &:hover {
            cursor: pointer;
            transform: scale(1.07);
        }
        transition: transform 1s;
        $width_phone: 150px;
        $width: 200px;
        background-size: cover;
        margin-left: $width/5;
        margin-right: $width/5;
        margin-bottom: $width;
        @media screen and (max-width: $phone) {
            margin-bottom: $width_phone/1.5;
        }
        background-position: center;
        height: $width;
        width: $width;

        @media screen and (max-width: $phone) {
            height: $width_phone;
            width: $width_phone;
        }

        &__title {
            position: absolute;
            z-index: 5;
            bottom: -(($width / 20) * 3);
            @media screen and (max-width: $phone) {
                bottom: -(($width_phone / 20) * 3);
            }
            font: {
                family: 'Crimson Pro', serif;
                weight: bold;
                size: 2vw;
            }
            display: block;
            width: 100%;
            text-align: center;
        }

        &__image {
            display: block;
            width: 60%;
            height: 100%;
            margin: 0 auto;
            z-index: 1;
            position: relative;
        }
        position: relative;

        &__border {
            position: absolute;
            z-index: 4;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            left: -($width / 4);
            top: -($width / 10);
            width: $width * 1.5;
            height: $width * 1.5;
            @media screen and (max-width: $phone) {
                left: -($width_phone / 4);
                top: -($width_phone / 10);
                width: $width_phone * 1.5;
                height: $width_phone * 1.5;
            }
        }
        &__pin {
            position: absolute;
            z-index: 5;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            left: -($width/4);
            top: -$width;
            width: $width * 1.5;
            height: $width * 1.5;
            @media screen and (max-width: $phone) {
                left: -($width_phone/4);
                top: -$width_phone;
                width: $width_phone * 1.5;
                height: $width_phone * 1.5;
            }
        }
    }
}
