.product-select {
    pointer-events: none;
    position: fixed;
    width: 100vw;
    height: 100%;
    background: no-repeat top/100% url('../assets/main/vetev.png');
    z-index: 2;

    &__groups {
        pointer-events: all;
        display: flex;
        width: 100%;
        padding-left: 10%;
        position: relative;
        height: 20vw;
    }

    &__horni {
        position: absolute;
        width: 20vw;
        top: 7vw;
        left: 10vw;
        height: 100%;
        background-image: url('../assets/nav/horni.png');
        background-repeat: no-repeat;
        background-size: contain;
        &:hover {
            cursor: pointer;
        }
    }

    &__dolni {
        position: absolute;
        width: 20vw;
        top: 1.6vw;
        left: 27vw;
        height: 100%;
        background-image: url('../assets/nav/dolni.png');
        background-repeat: no-repeat;
        background-size: contain;
        &:hover {
            cursor: pointer;
        }
    }

    &__other {
        position: absolute;
        width: 20vw;
        top: 3.5vw;
        left: 45vw;
        height: 100%;
        background-image: url('../assets/nav/ostatni.png');
        background-repeat: no-repeat;
        background-size: contain;
        &:hover {
            cursor: pointer;
        }
    }
}
