.product-select {
  position: fixed;
  width: 100vw;
  height: 100%;
  background: no-repeat top/100% url("../assets/main/vetev.png");

  &__groups {
    margin-top: 10%;
    display: flex;
    width: 100%;
    padding-left: 20%;
  }

  &__group {
    color: white;
    font-weight: bold;
    font-size: 3em;
    padding-right: 5%;
  }
}
