@media screen and (min-width: 790px) {
    .product {
        overflow-y: scroll;
        &__navhome {
            height: 49.8vh;
            width: 20vh;
            background-image: url('../assets/product/sipka2.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-size: 900%;
            background-position-y: -9%;
            position: relative;
            z-index: 2;
            &-text {
                position: absolute;
                font: {
                    size: 4vh;
                    family: 'Crimson Pro', serif;
                }
                bottom: 6vh;
                right: 2vh;
                transform: rotate(5deg);
                &:hover {
                    cursor: pointer;
                }
            }
        }
        &__navtree {
            height: 58.2vh;
            width: 20vh;
            background-image: url('../assets/product/sipka1.png');
            background-repeat: no-repeat;
            background-size: 900%;
            background-position-y: 110%;
            position: relative;
            z-index: 2;
            &-text {
                position: absolute;
                font: {
                    size: 3vh;
                    family: 'Crimson Pro', serif;
                }
                top: 2.5vh;
                left: 9vh;
                transform: rotate(-6deg);
                &:hover {
                    cursor: pointer;
                }
            }
        }

        position: relative;
        width: 100vw;
        height: 100vh;
        background: transparent;

        .vetev {
            background: transparent;
            position: absolute;
            width: 100%;
            height: 100vh;
            bottom: 0;
            left: 0;
            background-image: url('../assets/product/vetev_a_pozadi.png');
            background-size: auto 100vh;
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: left;
            pointer-events: none;

            .tabule {
                background-image: url('../assets/product/tabule.png');
                background-repeat: no-repeat;
                background-position-y: bottom;
                background-position-x: left;
                background-size: auto 100vh;
                @media screen and (max-width: $phone) {
                    background-size: auto 130vh;
                    background-position-y: -2vh;
                    background-position-x: -38vh;
                }
                height: 100vh;
                width: 100%;
                position: relative;

                &__soldout {
                    width: 100%;
                    font-family: 'Crimson Pro', serif;
                    font-size: 2.5vh;
                    font-weight: bold;
                    text-align: center;
                }

                &__bottom {
                    display: flex;
                    justify-content: space-around;
                    overflow: hidden;
                }

                &__quantity {
                    padding: 10px;
                    font-family: 'Crimson Pro', serif;
                    font-size: 2.5vh;
                    font-weight: bold;
                    outline: 0;
                    border: 1px solid #000000;
                    border-radius: 14px;
                    background: rgba(0, 0, 0, 0.1);
                    color: #000000;
                    display: block;
                    width: 20%;
                    text-align: center;
                    margin-left: 10px;
                    overflow: hidden;
                }

                &__content {
                    font-family: 'Crimson Pro', serif;
                    height: 60vh;
                    width: 40vh;
                    position: absolute;
                    left: 121vh;
                    top: 5vh;
                    transform: rotate(-2.5deg);
                    pointer-events: all;

                    @media screen and (max-width: $phone) {
                        height: 100vh;
                        width: 50vh;
                    }
                }

                &__title {
                    font: {
                        family: 'Crimson Pro', serif;
                        size: 4vh;
                        weight: bolder;
                    }
                    padding: 2vh;
                }

                &__price {
                    font-size: 3vh;
                    text-align: center;
                    margin-bottom: 2px;
                }

                &__desc {
                    font-size: 2.5vh;
                    height: 57.5%;
                    @media screen and (max-width: $phone) {
                        height: 40%;
                    }
                    overflow-y: scroll;
                    margin: 2vh;
                }
                .select {
                    position: relative;
                }
                .select select {
                    padding: 10px;
                    font-family: 'Crimson Pro', serif;
                    font-size: 2.5vh;
                    height: 100%;
                    display: block;
                    cursor: pointer;
                    outline: 0;
                    margin-left: 5px;
                    border-radius: 20px;
                    color: #000000;
                    background: rgba(0, 0, 0, 0.1);
                    border: 1px solid black;
                    font-weight: bold;
                    width: 100%;
                }
                .select select::-ms-expand {
                    display: none;
                }
                .select select:disabled {
                    opacity: 0.9;
                    pointer-events: none;
                }
                .select_arrow {
                    position: absolute;
                    top: 16px;
                    right: 15px;
                    pointer-events: none;
                    border-style: solid;
                    border-width: 8px 5px 0px 5px;
                    border-color: #7b7b7b transparent transparent transparent;
                }
                .select select:hover ~ .select_arrow,
                .select select:focus ~ .select_arrow {
                    border-top-color: #000000;
                }
                .select select:disabled ~ .select_arrow {
                    border-top-color: #cccccc;
                }
                &__add {
                    &:hover {
                        cursor: pointer;
                    }
                    margin-left: 5px;
                    margin-right: 10px;
                    font-family: 'Crimson Pro', serif;
                    font-size: 2.5vh;
                    outline: 0;
                    border: 0px solid #000000;
                    border-radius: 14px;
                    border: 1px solid black;
                    background: rgba(0, 255, 0, 0.1);
                    font-weight: bold;
                    color: #000000;
                    appearance: none;
                    display: block;
                    padding: 10px;
                }
            }
        }
    }

    .images {
        position: absolute;
        top: 8.3vh;
        left: 20vh;
        overflow: hidden;

        &__large {
            width: 65vh;
            height: 63.9vh;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }

        &__small {
            height: 23vh;
            background-color: red;
            transition: transform 1s;
            white-space: nowrap;

            .smallimage {
                width: 33.3333%;
                height: 23vh;
                background-color: black;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: inline-block;
                pointer-events: all;
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

@media screen and (max-width: 790px) {
    .product {
        width: 100vw;
        height: 200vw;
        position: relative;
        &__navhome {
            display: none;
        }
        &__navtree {
            display: none;
        }
        .vetev {
            background-image: url('../assets/product/product_vertical.jpg');
            background-repeat: no-repeat;
            background-size: 100vw auto;
            width: 100vw;
            height: 200vw;
        }
        .tabule {
            position: relative;
            &__content {
                position: absolute;
                top: 110vw;
                left: 26vw;
                width: 51vw;
                transform: rotate(-3deg);
            }
            &__title {
                font-size: 5vw;
            }
            &__desc {
                height: 50vw;
                margin-top: 2vw;
                overflow-y: scroll;
            }
            &__price {
                font-family: 'Crimson Pro', serif;
                text-align: center;
                margin-top: 2vw;
                font-size: 4vw;
                margin-bottom: 2vw;
            }
            &__bottom {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
            }
            &__quantity {
                padding: 1vw;
                display: block;
                font-family: 'Crimson Pro', serif;
                font-size: 4vw;
                font-weight: bold;
                outline: 0;
                border: 1px solid #000000;
                border-radius: 14px;
                background: rgba(0, 0, 0, 0.1);
                color: #000000;
                display: block;
                width: 20%;
                text-align: center;
                overflow: hidden;
            }
            .select {
                position: relative;
            }
            .select select {
                padding: 1vw;
                font-family: 'Crimson Pro', serif;
                font-size: 4vw;
                height: 100%;
                display: block;
                cursor: pointer;
                outline: 0;
                border-radius: 20px;
                color: #000000;
                background: rgba(0, 0, 0, 0.1);
                border: 1px solid black;
                font-weight: bold;
                width: 90%;
            }
            .select select::-ms-expand {
                display: none;
            }
            .select select:disabled {
                opacity: 0.9;
                pointer-events: none;
            }
            .select_arrow {
                position: absolute;
                top: 16px;
                right: 15px;
                pointer-events: none;
                border-style: solid;
                border-width: 8px 5px 0px 5px;
                border-color: #7b7b7b transparent transparent transparent;
            }
            .select select:hover ~ .select_arrow,
            .select select:focus ~ .select_arrow {
                border-top-color: #000000;
            }
            .select select:disabled ~ .select_arrow {
                border-top-color: #cccccc;
            }
            &__desc {
                font-size: 3vw;
            }
            &__add {
                padding: 1vw;
                &:hover {
                    cursor: pointer;
                }
                font-family: 'Crimson Pro', serif;
                font-size: 4vw;
                outline: 0;
                border: 0px solid #000000;
                border-radius: 14px;
                border: 1px solid black;
                background: rgba(0, 255, 0, 0.1);
                font-weight: bold;
                color: #000000;
                appearance: none;
                display: block;
            }
        }
    }

    .images {
        position: absolute;
        left: 17vw;
        top: 9vw;
        overflow: hidden;
        z-index: 1;

        &__large {
            width: 63vw;
            height: 63vw;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        &__small {
            height: 16.66vh;
            transition: transform 1s;
            white-space: nowrap;

            .smallimage {
                width: 33.3333%;
                height: 20vw;
                background-color: black;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                display: inline-block;
                pointer-events: all;
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .select {
            position: relative;
        }
        .select select {
            padding: 10px;
            font-family: 'Crimson Pro', serif;
            font-size: 2.5vh;
            height: 100%;
            display: block;
            cursor: pointer;
            outline: 0;
            margin-left: 5px;
            border-radius: 20px;
            color: #000000;
            background: rgba(0, 0, 0, 0.1);
            border: 1px solid black;
            font-weight: bold;
            width: 100%;
        }
        .select select::-ms-expand {
            display: none;
        }
        .select select:disabled {
            opacity: 0.9;
            pointer-events: none;
        }
        .select_arrow {
            position: absolute;
            top: 16px;
            right: 15px;
            pointer-events: none;
            border-style: solid;
            border-width: 8px 5px 0px 5px;
            border-color: #7b7b7b transparent transparent transparent;
        }
        .select select:hover ~ .select_arrow,
        .select select:focus ~ .select_arrow {
            border-top-color: #000000;
        }
        .select select:disabled ~ .select_arrow {
            border-top-color: #cccccc;
        }
        &__add {
            &:hover {
                cursor: pointer;
            }
            margin-left: 5px;
            margin-right: 10px;
            font-family: 'Crimson Pro', serif;
            font-size: 2.5vh;
            outline: 0;
            border: 0px solid #000000;
            border-radius: 14px;
            border: 1px solid black;
            background: rgba(0, 255, 0, 0.1);
            font-weight: bold;
            color: #000000;
            appearance: none;
            display: block;
            padding: 10px;
        }
    }
}
