.product {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: transparent;

    .vetev {
        background: transparent;
        position: absolute;
        width: 100%;
        height: 100vh;
        bottom: 0;
        left: 0;
        background-image: url('../assets/product/vetev_a_pozadi.png');
        background-size: auto 100vh;
        background-repeat: no-repeat;
        background-position-y: bottom;
        background-position-x: left;
        pointer-events: none;

        .tabule {
            background-image: url('../assets/product/tabule.png');
            background-repeat: no-repeat;
            background-position-y: bottom;
            background-position-x: left;
            background-size: auto 100vh;
            height: 100vh;
            width: 100%;

            &__bottom {
                display: flex;
                margin: 0 auto;
            }

            &__quantity {
                font-family: 'Crimson Pro', serif;
                font-size: 2.5vh;
                font-weight: bold;
                outline: 0;
                border: 1px solid #000000;
                border-radius: 14px;
                background: rgba(0, 0, 0, 0.1);
                color: #000000;
                display: block;
            }

            &__content {
                font-family: 'Crimson Pro', serif;
                height: 60vh;
                width: 40vh;
                position: absolute;
                left: 121vh;
                top: 5vh;
                transform: rotate(-2.5deg);
                pointer-events: all;
            }

            &__title {
                font: {
                    family: 'Crimson Pro', serif;
                    size: 4vh;
                    weight: bolder;
                }
                padding: 2vh;
            }

            &__desc {
                font-size: 2.5vh;
                height: 40%;
                overflow-y: scroll;
                margin: 2vh;
            }
            .select {
                position: relative;
            }
            .select select {
                font-family: 'Crimson Pro', serif;
                font-size: 2.5vh;
                display: block;
                cursor: pointer;
                outline: 0;
                border-radius: 14px;
                color: #000000;
                background: rgba(0, 0, 0, 0.1);
                border: 1px solid black;
                font-weight: bold;
            }
            .select select::-ms-expand {
                display: none;
            }
            .select select:disabled {
                opacity: 0.9;
                pointer-events: none;
            }
            .select_arrow {
                position: absolute;
                top: 16px;
                right: 15px;
                pointer-events: none;
                border-style: solid;
                border-width: 8px 5px 0px 5px;
                border-color: #7b7b7b transparent transparent transparent;
            }
            .select select:hover ~ .select_arrow,
            .select select:focus ~ .select_arrow {
                border-top-color: #000000;
            }
            .select select:disabled ~ .select_arrow {
                border-top-color: #cccccc;
            }
            &__add {
                font-family: 'Crimson Pro', serif;
                font-size: 2.5vh;
                outline: 0;
                border: 0px solid #000000;
                border-radius: 14px;
                border: 1px solid black;
                background: rgba(0, 0, 0, 0.1);
                font-weight: bold;
                color: #000000;
                appearance: none;
                display: block;
            }
        }
    }
}

.images {
    position: absolute;
    top: 8.3vh;
    left: 20vh;
    overflow: hidden;

    &__large {
        width: 65vh;
        height: 63.9vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    &__small {
        height: 23vh;
        background-color: red;
        transition: transform 1s;
        white-space: nowrap;

        .smallimage {
            width: 33.3333%;
            height: 23vh;
            background-color: black;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: inline-block;
            pointer-events: all;
            &:hover {
                cursor: pointer;
            }
        }
    }
}
